[Desktop Entry]
Name=Onedrive Sync Ui
Comment=Open Onedrive UI for POP OS Cosmic 
Type=Application
Icon=open-onedrive
Exec=onedrive-sync-ui %F
Terminal=false
StartupNotify=true
Categories=COSMIC
Keywords=COSMIC
MimeType=

