[Desktop Entry]
Name=Onedrive Sync Applet
Comment=Open Onedrive applet for POP OS Cosmic 
Type=Application
Icon=open-onedrive
Exec=onedrive-sync-applet %F
Terminal=false
StartupNotify=true
Categories=COSMIC
Keywords=COSMIC
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
NoDisplay=true

