[Desktop Entry]
Name=Onedrive Sync Applet
Comment=onedrive-sync applet for POP OS Cosmic 
Type=Application
Icon=com.github.bmideas.onedrive-sync
Exec=onedrive-sync-applet %F
Terminal=false
StartupNotify=true
Categories=COSMIC
Keywords=COSMIC
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
NoDisplay=true

