[Desktop Entry]
Name=DAEMON OneDrive
Comment=OneDrive file handler
Exec=open-onedrive %f
Terminal=false
Type=Application
MimeType=application/onedrivedownload;
Icon=open-onedrive-daemon
Categories=Network;FileManager;
StartupNotify=true
NoDisplay=true
