[Desktop Entry]
Name=Onedrive Sync Applet
Comment=onedrive-sync applet for POP OS Cosmic 
Type=Application
Icon=open-onedrive-ok
Exec=onedrive-sync-applet
Terminal=false
StartupNotify=true
Categories=COSMIC
Keywords=COSMIC
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
NoDisplay=true